.Minimal-professional-1-hex {
	color: #2b3a42;
}
.Minimal-professional-2-hex {
	color: #3f5866;
}
.Minimal-professional-3-hex {
	color: #bdd3de;
}
.Minimal-professional-4-hex {
	color: #f0f0df;
}
.Minimal-professional-5-hex {
	color: #ffd938;
}

html * {
	font-family: sans-serif;
	font-size: 20px;
	color: #3f5866;
	background-color: #2b3a42;
}

body {
	margin: 0px;
	padding: 0px;
}

main {
	display: grid;
	grid-template-areas:
		'container'
		'footer';
	grid-template-rows: auto;
	place-content: center;
	width: 100vw;
	height: 100vh;
}

.footer {
	clear: left;
	grid-area: footer;
	justify-content: center;
	display: flex;
	align-self: center;
	place-items: center;
	height: 40px;
}

.container {
	display: grid;
	place-items: center;
	justify-content: center;
	grid-template-areas:
		'header header      header          header'
		'display display    display         display'
		'clear  delete      delete          divide'
		'seven  eight       nine            mult'
		'four   five        six             minus'
		'one    two         three           add'
		'z      decimal     enter           enter';
	grid-template-columns: repeat(4, minmax(min-content, 120px));
	grid-template-rows: repeat(7, minmax(max-content, 120px));
	gap: 10px;
	min-height: calc(100vh - 80px);
	padding: 8px;
	border-radius: 10px;
	background-color: #3f5866;
	overflow: hidden;
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
		drop-shadow(0 1px 5px rgba(0, 0, 0, 0.14))
		drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12))
		drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1));
	z-index: 1;
}

.child {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	min-width: 70px;
	min-height: 70px;
	justify-content: center;
	place-items: center;
	filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
		drop-shadow(0 1px 5px rgba(0, 0, 0, 0.14))
		drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12))
		drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1));
	border-radius: 10px;
	border: 0px;
}

#header {
	grid-area: header;
	background-color: #bdd3de;
	font-size: 30px;
	width: 100%;
}

#display {
	grid-area: display;
	justify-content: right;
	animation: blinker 0.6s step-end infinite;
	font-size: 60px;
	padding-right: 30px;
	background-color: #f0f0df;
}

#clear {
	grid-area: clear;
	background-color: indianred;
	color: #f0f0df;
}

#delete {
	grid-area: delete;
	background-color: indianred;
	color: #f0f0df;
}

[data-number] {
	background-color: #f0f0df;
}

[data-operator] {
	background-color: #bdd3de;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

#zero {
	grid-area: z;
}

#decimal {
	grid-area: decimal;
	background-color: #f0f0df;
}

#divide {
	grid-area: divide;
}

#mult {
	grid-area: mult;
}

#minus {
	grid-area: minus;
}

#add {
	grid-area: add;
}

#enter {
	grid-area: enter;
	background-color: #ffd938;
}

#wild {
	grid-area: wild;
}

.fa-github {
	font-size: 24px;
	transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
	z-index: 0;
}

@keyframes blinker {
	50% {
		color: #f0f0df;
	}
}
